// Gallery template by https://codepen.io/cycosta/pen/wvMeNoJ
@import "style";

.gallery {
  display: flex;
  padding: 2px;
  transition: .3s;

  &:hover &__image {
    filter: grayscale(1);
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  .digital &__column,
  .webcomics &__column {
    width: 33.3%;
  }

  .gameart &__link img,
  .gallery.gameart .gallery__column {
    background-color: #FA886470;
  }

  .gameart &__link.odd img {
    background-color: #D57F9A70;
  }

  &__link {
    margin: 2px;
    overflow: hidden;

    &:hover {
      .gallery__image {
        filter: grayscale(0);
      }

      .gallery__caption {
        opacity: 1;
      }
    }
  }

  &:hover {
    .gallery.gameart .gallery__column {
      background-color: #A9A9A970;
    }
  }

  &__thumb {
    position: relative;
  }

  &__image {
    display: block;
    width: 100%;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 15px 15px;
    width: 100%;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    color: white;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
    transition: .3s;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    flex-direction: column;

    &__column,
    .digital &__column,
    .webcomics &__column {
      width: 100%;
    }
  }
}