<!DOCTYPE html>
<html lang="en" class="homepage">
<head>
    <meta charset="UTF-8">
    <title>Oops!</title>
    <link th:href="@{../css/homepage.less}" rel="stylesheet/less" type="text/css">
    <th:block th:insert="~{fragments.html :: headerfiles}"></th:block>
</head>
<body>
    <div class="center">
        <div style="text-align: center">
            <h1 class="error white-text">Oops, something went wrong!</h1>
            <p class="white-text" th:text="${errorText}"></p>
            <a href="" th:href="@{home}" id="homepage_link">Return to homepage</a>
        </div>
    </div>
</body>
</html>