<!DOCTYPE html>
<html lang="en" class="homepage">
    <head>
        <title>Welcome to YinUkume's Portfolio!</title>
        <link th:href="@{../css/stars.less}" rel="stylesheet/less" type="text/css">
        <link th:href="@{../css/homepage.less}" rel="stylesheet/less" type="text/css">
        <th:block th:insert="~{fragments.html :: headerfiles}"></th:block>
        <script th:src="@{../js/stars.js}"></script>
        <meta name="og:title" property="og:title" content="Portfolio YinUkume">
        <meta name="twitter:card" lang="en" content="Portfolio of YinUkume, digital artist & game artist freelancer located in the Netherlands.">
        <meta name="twitter:card" lang="nl" content="Portfolio van YinUkume, Nederlandse digitale artiest & game artist freelancer.">
    </head>
    <body>
        <div class="galaxy"></div>
        <img src="" th:src="@{../css/images/MountainsOverlay.png}" class="fixed-bottom mountains" alt="Mountain overlay image">

        <div class="row rh align-items-center">
            <div class="col-1"></div>
            <div class="col-3">
                <a href="#" th:href="@{game-art}" id="menu_game">
                    <img src="" th:src="@{../css/images/menubuttons/GameArt_Unfocused.png}" class="menubutton_on game"
                         alt="Button for Game Art Portfolio">
                    <img src="" th:src="@{../css/images/menubuttons/GameArt_Clicked.png}" class="menubutton_off game"
                         alt="Focused button for Game Art Portfolio">
                </a>
            </div>
            <div class="col-4"></div>
            <div class="col-3">
                <a href="#" th:href="@{digital-art}" id="menu_digital_art">
                    <img src="" th:src="@{../css/images/menubuttons/DigitalArt_Unfocused.png}" class="menubutton_on digital_art"
                         alt="Button for Digital Art Portfolio">
                    <img src="" th:src="@{../css/images/menubuttons/DigitalArt_Clicked.png}" class="menubutton_off digital_art"
                         alt="Focused button for Digital Art Portfolio">
                </a>
            </div>
            <div class="col-1"></div>
        </div>
        <div class="row rh align-items-center">
            <div class="col-3"></div>
            <div class="col-6">
                <img src="" th:src="@{../css/images/Logo_Full.png}" class="logo" alt="Logo of YinUkume">
            </div>
            <div class="col-3">

            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12">
                <a href="" th:href="@{contact}" id="homepage_link" th:text="${language} == 'EN' ? 'About me!' : 'Over mij!'"></a>
            </div>
        </div>
        <div class="row rh align-items-center">
            <div class="col-2"></div>
            <div class="col-2">
                <a href="#" th:href="@{webcomics}" id="menu_webcomics">
                    <img src="" th:src="@{../css/images/menubuttons/Webcomics_Unfocused.png}" class="menubutton_on_wide webcomics"
                         alt="Button for Webcomics Portfolio">
                    <img src="" th:src="@{../css/images/menubuttons/Webcomics_Clicked.png}" class="menubutton_off_wide webcomics"
                         alt="Focused button for Webcomics Portfolio">
                </a>
            </div>
            <div class="col-4"></div>
            <div class="col-2">
                <a href="#" th:href="@{https://www.etsy.com/nl/shop/YinUkume}" target="_blank" id="menu_shop">
                    <img src="" th:src="@{../css/images/menubuttons/Shop_Unfocused.png}" class="menubutton_on_wide shop"
                         alt="Button for Etsy shop">
                    <img src="" th:src="@{../css/images/menubuttons/Shop_Clicked.png}" class="menubutton_off_wide shop"
                         alt="Focused button for Etsy shop">
                </a>
            </div>
            <div class="col-2"></div>
        </div>

<!--     Next steps:
            - add links to the Same Sky and KVK number as soon as they exist -->
    </body>
</html>